<footer>
    <p>© 2022 David Dettorre.</p>
</footer>
<style>
    footer {
        background-color: #faedcd;
        padding: 2rem;
    }
    @media(max-width: 900px) {
        footer {
            padding: 2rem 1rem;
            margin-top: 1rem;
        }
    }
</style>