* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
:root {
  --bg-main: #d1f1f2;
  --bg-cta: #158fbb;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.123rem;
  line-height: 1.4;
  letter-spacing: 0.25px;
  overflow-x: hidden;
  background-color: var(--bg-main);
}
main {
  padding: 0 2rem;
}
li {
  list-style: none;
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
  color: white;
  border-radius: 0.1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  width: fit-content;
  border-bottom: 2px solid #222;
  background-color: var(--bg-cta);
}
small {
  font-size: 0.875rem;
}

@media (max-width: 900px) {
  main {
    padding: 1rem;
  }
}
