---
title: Articles
layout: 'base.njk'
---

<h2>Bienvenue sur mon blog</h2>
{% include 'navigation.njk' %}
<div class="last-articles">
  <h2>Tous les Articles</h2>
  <ul>
    {%- for post in collections.post | reverse -%}
      {% include 'articlesblog.njk' %}
    {%- endfor -%}
  </ul>
</div>