---
title: Décoration
layout: 'base.njk'
---

<div>
    <h2>Décoration</h2>
    {% include 'navigation.njk' %}
    <ul>
        {%- for post in collections.decoration | reverse -%}
            {% include 'articlesblog.njk' %}
        {%- endfor -%}
    </ul>
</div>