---
title: Numerique
layout: 'base.njk'
---

<div>
    <h2>Numérique</h2>
    {% include 'navigation.njk' %}
    <ul>
        {%- for post in collections.numerique | reverse -%}
            {% include 'articlesblog.njk' %}
        {%- endfor -%}
    </ul>
</div>